# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db
/LOCAL/*
TEST-ENVS/
/ITSQ/
/src/test/resources/ITSQ/NEW_backup_1768756801454/ARCHIV-BESTAND/PHASE-2/1234567890.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/ARCHIV-BESTAND/PHASE-1/1234567892.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/ARCHIV-BESTAND/PHASE-1/1234567893.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/ARCHIV-BESTAND/PHASE-2/1234567896.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-1/c02/Options.cfg
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-2/c02/Options.cfg
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-2/c01/Relevanz_Positiv/p01_stammsatz_1234567894.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-2/c03/Relevanz_Positiv/p02_stammsatz_1234567891.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-1/c01/Relevanz_Positiv/p02_stammsatz_1234567895.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-1/c01/Relevanz_Positiv/p03_stammsatz_1234567892.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-2/c05/Relevanz_Positiv/p03_stammsatz_1234567898.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-1/c02/Relevanz_Positiv/Relevanz.properties
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-2/c02/Relevanz_Positiv/Relevanz.properties
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-2/c03/Relevanz_Negativ/Relevanz.properties
/src/test/resources/ITSQ/NEW_backup_1768756801454/ARCHIV-BESTAND/PHASE-1/TestCrefos.properties
/src/test/resources/ITSQ/NEW_backup_1768756801454/ARCHIV-BESTAND/PHASE-2/TestCrefos.properties
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-2/c03/Relevanz_Positiv/x01_loeschsatz_1234567894.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-1/c01/Relevanz_Positiv/x01_loeschsatz_1234567896.xml
/src/test/resources/ITSQ/NEW_backup_1768756801454/REF-EXPORTS/PHASE-2/c04/Relevanz_Positiv/x01_loeschsatz_1234567897.xml
